body {
    background: url(https://i.imgur.com/E6lbGD5.jpghttps://i.imgur.com/26awOKV.jpg);
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 25px;
}
.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}
h1 {
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: 50px;
}
.text-banner {
    display: flex;
    justify-content: center;
    border: solid;
    width: 600px;
    height: 60px;
    font-size: 28px;
    margin-top: 40px;
    align-self: center;
}
.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.cards-C, .cards-P {
    position: absolute;
    width: 16em;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}
.cards-P {
    align-self: flex-end;
}
.flip-1, .flip-2, .flip-3, .flip-4, .flip-5, .flip-6 {
    height: 132px; 
    width: 100px;
    border-radius: 10%;
    background-color: #b2b2b2;
}
.board {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0px;
    width: 700px;

}
.computer, .player {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 23px;
    height: 300px;
    width: 300px;
    margin-top: 50px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
.shuffle-button, .war-button, .tie-button, .reset-button {
    justify-content: center;
    align-self: center;
    height: 60px;
    width: 150px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
    border-radius: 12px;
    background-color: #b2b2b2
}
.stats {
    display: flex;
    justify-content: center;  
}
.c-stats, .p-stats {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 300px;
}
.table-P, .table-C {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}
.card {
    border-color: #808080 #000000 #000000 #808080;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    color: #000000;
    font-size: 20pt;
    position: absolute;
    width:  3.75em;
    height: 5.00em;
    display: flex;
    justify-content: center;
}
.front {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
}
.top {
    position: absolute;
    top: 0;
    left: 0.15em;
    text-align: center;
}
.right {
    position: absolute;
    right: 0.15em;
    bottom: 0;
    text-align: center;
}
.suit {
    position: relative;
    font-size: 3em;
    text-align: center;
    align-self: center;
    align-items: space-between;
    bottom: .095em;  
}

